
.collapse {
    border-collapse: collapse;
}
.deux td, th {
    border: 1px solid black;
}
.padding td, .padding th{
    padding: 5px;
}
.conteneur{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.carte{
    background-color: lightblue;
    color: white;
    box-shadow: 1px 1px 3px 0px black;
    padding: 10px;
    margin: 10px;
    min-width: 300px;
    max-width: 600px;
    text-align: center;
    border-radius: 15px;
}
.carte:hover{
    background-color: lightblue;
    color: white;
    box-shadow: 1px 1px 3px 0px black, inset -1px -1px 1px 0px black, inset 1px 1px 1px 0px white;
    padding: 10px;
    margin: 10px;
    min-width: 300px;
    max-width: 600px;
    text-align: center;
    border-radius: 15px;
}

h1{
    text-align: center;
    color: white;
    background-color: lightblue;
    box-shadow: 1px 1px 3px 0px black;
    border-radius: 15px;
}

main{
    display: flex;
    justify-content: space-around;
}
header{
    text-align: center;
}
h2, h3{
    color: lightblue;
}

.zoneText{
    background-color: white;
    color:lightblue;
    padding:10px;
    margin: 10px;
}

.arrondi{
    border-radius: 5px;
}